@import "variables";

/*
 This is the styling for the common footer.

 Created Sep 5th 2021 - Jaxcksn
*/

footer {
  background-color: white; //Change this to change footer color.
  height: 10vh !important; //This can be changed for the height too.
  width: 100%; //Dont change this.
}

//This for the styled the text inside the footer. It's not required for the footer to function,
//and is purely stylistic.
.footer-text {
  font-size: 0.8rem;
  font-family: "Roboto Mono", "Google Sans Display", Arial, Helvetica,
    sans-serif !important;
  color: transparentize($devclub-font-color, 0.5);

  //Makes the heart a different color.
  & > b {
    color: transparentize($devclub-red, 0.5);
  }
}
