@import 'variables';
$font-base: 1rem;

html {
    font-size: $font-base;
    color: $devclub-font-primary;
    font-family: 'Roboto' ;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 {
    font-size: $font-base * 2.5;
  }
  
  h2 {
    font-size: $font-base * 2;
  }
  
  h3 {
    font-size: $font-base * 1.75;
  }
  
  h4 {
    font-size: $font-base * 1.5;
  }
  
  h5 {
    font-size: $font-base * 1.25;
  }
  
  h6 {
    font-size: $font-base;
  }
  
  p {
    font-size: $font-base;
    font-weight: normal;
    line-height: $font-base;
  }

.left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .justify {
    text-align: justify;
  }