@import 'variables';


$breakpoints: (
    sm: $bp-md,
    md: $bp-lg
);

//Change this to change the corresponding margin utility values
$margin-values: (
    1: 0.25rem,
    2: 1.5rem,
    3: 3rem,
    4: 4.5rem,
    5: 5rem,
    auto: auto
);

//Generates Color Utility Class
$color-values: (
    primary: $devclub-primary,
    red: $devclub-red,
    yellow: $devclub-yellow,
    green: $devclub-green,
    white: #ffffff,
    black: $devclub-font-color
);


//Generates Margin Utility Classes
@each $value,$size in $margin-values {
    .m-#{$value} {
        margin: $size;
    }

    .mt-#{$value} {
        margin-top: $size;
    }

    .mb-#{$value} {
        margin-bottom: $size;
    }

    .ml-#{$value} {
        margin-left: $size;
    }

    .mr-#{$value} {
        margin-right: $size;
    }

    .my-#{$value} {
        margin-top: $size;
        margin-bottom: $size;
    }

    .mx-#{$value} {
        margin-left: $size;
        margin-right: $size;   
    }
}

//Generates Padding Utility Classes
@each $value,$size in $margin-values {
    .p-#{$value} {
        padding: $size;
    }

    .pt-#{$value} {
        padding-top: $size;
    }

    .pb-#{$value} {
        padding-bottom: $size;
    }

    .pl-#{$value} {
        padding-left: $size;
    }

    .pr-#{$value} {
        padding-right: $size;
    }

    .py-#{$value} {
        padding-top: $size;
        padding-bottom: $size;
    }

    .px-#{$value} {
        padding-left: $size;
        padding-right: $size;   
    }
}

@each $name,$color in $color-values {
    .#{$name} {
        color: $color;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}

@each $name,$bp in $breakpoints {
    @media screen and (max-width: $bp) {
        //Generates Margin Utility Classes
@each $value,$size in $margin-values {
    .m-#{$value}-#{$name} {
        margin: $size;
    }

    .mt-#{$value}-#{$name}  {
        margin-top: $size;
    }

    .mb-#{$value}-#{$name}  {
        margin-bottom: $size;
    }

    .ml-#{$value}-#{$name}  {
        margin-left: $size;
    }

    .mr-#{$value}-#{$name}  {
        margin-right: $size;
    }

    .my-#{$value}-#{$name}  {
        margin-top: $size;
        margin-bottom: $size;
    }

    .mx-#{$value}-#{$name}  {
        margin-left: $size;
        margin-right: $size;   
    }
}

//Generates Padding Utility Classes
@each $value,$size in $margin-values {
    .p-#{$value}-#{$name} {
        padding: $size;
    }

    .pt-#{$value}-#{$name} {
        padding-top: $size;
    }

    .pb-#{$value}-#{$name} {
        padding-bottom: $size;
    }

    .pl-#{$value}-#{$name} {
        padding-left: $size;
    }

    .pr-#{$value}-#{$name} {
        padding-right: $size;
    }

    .py-#{$value}-#{$name} {
        padding-top: $size;
        padding-bottom: $size;
    }

    .px-#{$value}-#{$name} {
        padding-left: $size;
        padding-right: $size;   
    }
}

    }
}



.img-responsive {
    max-width: 100%;
    height: 20vw;
    object-fit: cover;
}



.bg-primary {
    color: white;
    background-color: $devclub-primary;
}