/*
==================================
Table of Contents:
1) BREAKPOINTS AND RESIZE
2) COLORS AND BRANDING





===================================
*/


//BREAKPOINTS AND RESPONSIVE RESIZE
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;


$medium-and-up: "only screen and (min-width : #{$bp-md + 1px})" !default;
$large-and-up: "only screen and (min-width : #{$bp-lg + 1px})" !default;
$small-and-down: "only screen and (max-width : #{$bp-sm})" !default;
$medium-and-down: "only screen and (max-width : #{$bp-lg})" !default;
$medium-only: "only screen and (min-width : #{$bp-md}) and (max-width : #{$bp-lg})" !default;


//COLORS AND BRANDING
$devclub-primary: #4285F4;
$devclub-red: #ea4335;
$devclub-yellow: #ffbc04;
$devclub-green: #34a853;

$devclub-primary-hover: lighten($devclub-primary,5%);
$devclub-red-hover: lighten($devclub-red,5%);;
$devclub-yellow-hover: lighten($devclub-yellow, 5%);
$devclub-green-hover: lighten($devclub-green, 5%);

$devclub-font-color: #202124;


